
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UMSLayout.cshtml";
}

<h2>Create</h2>

<form action="/Student/Create" method="post">
    <input type="text" name="Name" placeholder="Student Name" />
    <select name="DeptId">
        <option value="1">CSE</option>
        <option value="2">EEE</option>
        <option value="3">Math</option>
    </select>
    <input class="btn btn-success" type="submit" value="add" />
</form>

