@model List<ProductsTask.Models.Database.Product>
@{
    ViewBag.Title = "AddCart";
}

<h2>AddCart</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
  
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>1</td>
            

        </tr>
    }
</table>

<a class="btn btn-success" href="/Product/OrderPlace">Place Order</a>