@model List<ProductsTask.Models.Database.Product>
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Action</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>@p.Qty</td>
            <td>
                <a href="/Product/AddingProcess/@p.Id">Add Cart</a>
            </td>

        </tr>
    }
</table>

